body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}
/* 
.grid-container {
    display: grid;
    grid-template-areas:
      'header header'
      'right right'
      'footer footer';
  }

.header{
    grid-area: header;
    font-size: 24px;
    height: 52px;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', calibri;
}

.left{
    grid-area: left;
    width: 20vw;
    height: 100vh;
    border: 5px solid gray; 
}

.right{
    grid-area: right;
    width: 100vw;
    height: 100vh;
    border: 5px solid gray;
}

.toc{
    margin-left: 10px;
} */